<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DarkUI" version="2.0.2" targetFramework="net48" />
  <package id="ImageResizer" version="4.2.8" targetFramework="net48" />
  <package id="ImageResizer.Plugins.FreeImage" version="4.2.8" targetFramework="net48" />
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="4.6.1" targetFramework="net48" />
  <package id="WindowsAPICodePack" version="1.1.1" targetFramework="net461" />
  <package id="Xe.BinaryMapper" version="1.5.2" targetFramework="net48" />
  <package id="YamlDotNet" version="9.1.1" targetFramework="net461" />
</packages>